[submodule "uggla/reveal.js"]
	path = reveal.js
	url = https://github.com/uggla/reveal.js.git
	ignore = all
[submodule "prime/demo/sum_primes"]
	path = prime/demo/sum_primes
	url = git@github.com:uggla/primes.git
