<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Be kind with your (Dev)Ops</title>

		<meta name="description" content="Be kind with your (Dev)Ops">
		<meta name="author" content="René Ribaud" >

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="../reveal.js/css/reveal.css">
		<link rel="stylesheet" href="../reveal.js/css/theme/beige.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="../reveal.js/lib/css/github.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '../reveal.js/css/print/pdf.css' : '../reveal.js/css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
			<script src="lib/js/html5shiv.js"></script>
		<![endif]-->

		<style type="text/css">
		.reveal { font-family: "Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans,sans-serif; }
		.iwantitatleft { text-align: left; }
		.reveal ul { font-size: 0.9em; text-align: left; }
		.lots_of_items ul { font-size: 0.7em; text-align: left; }
		.lots_of_items h3 { font-size: 0.7em; }
		.lots_of_items h4 { font-size: 0.6em; }
		.lots_of_items code { font-size: 0.7em; }
		.reveal pre code { max-height: 100%; }
		.left_pic { position: relative; float: left; width:50%; top: 30px; }
		.right_pic { position: relative; float: right; width:50%; top: 30px; }
		.left_text { position: relative; float: left; width:50%; text-align: left; }
		.right_text { width:50%; text-align: left; float: right; text-align: left; }
		.left_pic2 { position: relative; float: left; width:50%; top: 0px; }
		.right_pic2 { position: relative; float: right; width:50%; top: 0px; }
		.left_text2 { position: relative; float: left; width:50%; text-align: left; top: 15px; }
		.right_text2 { width:50%; text-align: left; float: right; text-align: left; top: 15px;}
    .skill-list li { font-size: 1.5rem; margin-top: 1rem; }
		.reveal h4 { text-transform: none;}
		.reveal h3 { text-transform: none;}
		.reveal h2 { text-transform: none;}
		/*
		.reveal a { color: #007DBA; }
		.reveal h2 b { color: #0096D6; }
		.reveal h2 .day { font-size: 0.6em; position:relative; bottom: 20px; }
		*/
		.reveal pre { width: 100%; font-size:13px; }
		.reveal section img { border: none; box-shadow: none; }
		</style>
	</head>

	<body>
		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
        <section>
					<h1>Be kind</h1>
					<h2>with your (Dev)Ops</h2>
					<img src="images/be_kind.png" alt="be_kind" width="70%">
          <h3>February 2020</h3>
				</section>

				<section>
					<h2>2 words about me</h2>
					<div class="left_text">
            <pre class="bio">
{% include '_bio.html' %}
            </pre>
					</div>
					<div class="left_pic">
						<img src="images/me.png" alt="me" width="100%">
					</div>
        </section>

        <section>
          <h2>Goal of the presentation</h2>
          <div class="lots_of_items">
            <ul>
              <li>Try to identify development best practices to make (Dev)Ops life better</li>
              <p>Or less politically correct…</p>
              <li>Prevent your (Dev)Ops to murder you with a crowbar or any painful tool</li>
            </ul>
          </div>
          <div>
          <img src="images/joker.jpg" alt="nomagic" width="70%">
          </div>
        </section>

				<section>
					<h2>Several realities</h2>
          <div class="lots_of_items">
						<ul>
							<li>Code in itself has no value if it is not run !</li>
							<li>Customer is just wasting money when his service is down</li>
							<li>It's even worse, he pays for fixing it !</li>
						</ul>
					</div>
          <div>
          <img src="images/reality.png" alt="realities" width="40%">
          </div>
				</section>

				<section>
					<h2>Consequences</h2>
          <div class="lots_of_items">
						<ul>
							<li>The faster service is recovered the less it costs</li>
							<li>Pressure and stress to recover the service</li>
							<li>Penalties</li>
							<li>...</li>
						</ul>
					</div>
          <div>
          <img src="images/consequences.jpg" alt="consequencies" width="50%">
          </div>
				</section>

        <section>
          <h2>Quick survey</h2>
          <h3>Who ?</h3>
          <!-- <div class="lots_of_items"> -->
          <div>
            <ul>
              <li class="fragment">did some operations ?</li>
              <li class="fragment">was on duty ?</li>
              <li class="fragment">more than one time ?</li>
            </ul>
          </div>
          <div>
            <img src="images/survey.jpg" alt="survey" width="30%">
          </div>
        </section>

				<section>
					<h2>Scenario</h2>
          <div>
          <img src="images/yoda.jpg" alt="yoda" width="45%">
          </div>
          <div class="lots_of_items">
						<ul>
							<li>Production is broken</li>
							<li>It's 3 o'clock in the morning</li>
							<li>You have no idea what is going wrong</li>
							<li>You even don't know the application</li>
							<li>You may not have the sources</li>
							<li>You need to debug this mess to recover the service as fast as possible</li>
						</ul>
					</div>
				</section>

				<section>
					<h2>Hands on</h2>
          <div>
          <img src="images/dirty.jpg" alt="dirty" width="65%">
          </div>
				</section>

				<section>
					<h2>Logs #1</h2>
					<pre>
					<code>
{% include '_log.py' %}
					</code>
					</pre>
				</section>

				<section>
					<h2>Logs #2</h2>
          <div class="lots_of_items">
            <ul>
              <li>Always log your intention (prior operation)</li>
              <li>Exceptions should always log an error or warning</li>
              <li>Format log with consistency and with a timestamp (UTC)</li>
              <li><a href="https://www.graylog.fr/gelf/">GELF</a> is a good format with libraries available (docker has a GELF driver)</li>
              <!-- <ul> -->
              <!--   <li>host (the creator of the message)</li> -->
              <!--   <li>timestamp</li> -->
              <!--   <li>version</li> -->
              <!--   <li>long and short version of the message</li> -->
              <!--   <li>other custom fields you can freely configure on your own</li> -->
              <!-- </ul> -->
            </ul>
					</div>
          <div>
            <img src="images/darthvader.jpg" alt="darthvader" width="60%">
          </div>
				</section>

				<section>
					<h2>Do not mask exceptions</h2>
          <div class="lots_of_items">
						<ul>
							<li>Do not use bare expect (python)</li>
							<li>Do not use catch(Exception e) prefer exception type or manage type in the catch block (java)</li>
							<li>Provide maximum context of the exception</li>
							<li>Manage the exception at that level (hotpoteto syndrome) </li>
              <li>Ref, François Teychene: <a href="https://t.co/BbrdiYUHGc?amp=1">Design of the error</a></li>
						</ul>
					</div>
          <div>
          <img src="images/Sebulba.jpg" alt="Sebulba" width="35%">
          </div>
				</section>

				<section>
					<h2>Jar manifest</h2>
					<pre>
					<code>
          ENV DAL_APP_MAINCLASS="com.se.pim.dal.dataacquisition.DataAcquisitionApp"
          java -Xmx4096m -Xms512m $YK_DEBUG_OPTION -cp "$DAL_DIR/conf/..." $DAL_APP_MAINCLASS
					</code>
					</pre>
          <div class="lots_of_items">
						<ul>
							<li>If you don't know the entry class, you are 🖕</li>
							<li>Do not provide jar without manifest</li>
							<li>Why there is not a defined standard entry point in Java ? It's for psychopath 🥴</li>
						</ul>
					</div>
          <div>
          <img src="images/emperor.webp" alt="emperor" width="40%">
          </div>
				</section>

				<section>
					<h2>Spawning processes</h2>
          <div class="lots_of_items">
						<ul>
							<li>Log the command that will be run</li>
							<li>Check the error level of a spawning process 🔪🔫💀💀</li>
							<li>Manage the exception if it fails</li>
						</ul>
					</div>
          <div>
          <img src="images/jaba.jpg" alt="jaba" width="60%">
          </div>
				</section>

				<section>
					<h2>Configuration files</h2>
          <div class="lots_of_items">
						<ul>
							<li>Try to have only one configuration file</li>
							<li>Insert comments and examples about variables (env var, value units)</li>
							<li>Set a log about the variable you want to read and throw an exception if not available (no null pointer exception is not fine !)</li>
							<li>Provide an example template file specifying variables</li>
							<li>Do not put configuration files in S3 that's a bad idea, KIS</li>
						</ul>
					</div>
          <div>
          <img src="images/grevious.jpg" alt="grevious" width="65%">
          </div>
				</section>

				<section>
					<h2>Environment variables and parameters</h2>
          <div class="lots_of_items">
						<ul>
							<li>Check env variable or parameters at the beginning of the program</li>
							<li>Do not run the program with environment or parameters unchecked and later explode at runtime 💣</li>
							<li>Set a log about the variable you want to read and throw an exception if not available (no null pointer exception is not fine !)</li>
							<li>Provide an example template or readme file specifying variables</li>
						</ul>
					</div>
          <div>
          <img src="images/doku.jpg" alt="doku" width="65%">
          </div>
				</section>

				<section>
          <h2>Sumup of 2 previous slide<h2>
          <h3>  Check application initial state</h3>
          <div class="lots_of_items">
						<ul>
							<li>Check that all you need is defined at the beginning of the program</li>
							<li>Log info about what is required or info about configuration options (e.g: Endpoint: http://..., Use env variable DB_URL to overwrite endpoint)</li>
              <li>Break and exit the program <b>with a system errorlevel</b> if something is undefined</li>
						</ul>
					</div>
          <div>
          <img src="images/darthmaul.jpg" alt="darthmaul" width="52%">
          </div>
				</section>

				<section>
					<h2>System limits</h2>
          <div class="lots_of_items">
						<ul>
							<li>Always think that there is physical limits</li>
							<li>Latency in network, localhost != 100km 🧟</li>
							<li>File systems have max number of inodes</li>
							<li>Without touching max number of inodes, small files are a mess !</li>
							<li>Structure file repositories, do not drop millions of files in one directory 😱</li>
							<li>Good practices: Everything should be limited in space and time (e.g. api calls, limit process memory and cpu...) 🧱</li>
						</ul>
					</div>
          <div>
          <img src="images/Crumb.jpg" alt="Crumb" width="32%">
          </div>
				</section>

				<section>
          <h2>Application that run silently despite a major failure</h2>
          <div class="lots_of_items">
						<ul>
							<li>If it is a service, rise periodic errors if something is not ok</li>
							<li>Or exit the application</li>
						</ul>
					</div>
          <div>
          <img src="images/Greedo.jpg" alt="Greedo" width="35%">
          </div>
				</section>

				<section>
					<h2>Application that do not build</h2>
          <div class="lots_of_items">
						<ul>
							<li>Application must build out of the box within default/customer environment</li>
							<li>That's a basic of Floss project, should be a basic as well for a customer application !</li>
						</ul>
					</div>
          <div>
          <img src="images/Firmus.jpg" alt="Firmus" width="40%">
          </div>
				</section>

				<section>
					<h2>Unix standard tree not respected</h2>
          <div class="lots_of_items">
						<ul>
							<li>Respect Linux filesystem structure usage</li>
              <li><a href="http://www.tldp.org/LDP/intro-linux/html/sect_03_01.html">http://www.tldp.org/LDP/intro-linux/html/sect_03_01.html</a></li>
						</ul>
					</div>
          <div>
          <img src="images/Ponda.jpg" alt="Ponda" width="45%">
          </div>
				</section>

				<section>
					<h2>Script that cannot be run from anywhere</h2>
          <div class="lots_of_items">
						<ul>
							<li>Write Bash script that can be run from anywhere</li>
						</ul>
					</div>
          <div class="left_text">
					<pre>
					<code>
{% include '_update_module.sh' %}
					</code>
					</pre>
					</div>
          <div class="right_pic">
          <img src="images/kylo.jpg" alt="kylo" width="100%">
          </div>
				</section>

				<section>
					<h2>Overwrite system files / do not use distribution packages</h2>
          <div class="lots_of_items">
						<ul>
							<li>Avoid binaries not distributed with a package or docker image</li>
							<li>But if you do it, at least place it under a /*/local directory</li>
							<li>Do not overwrite binaries coming from the system (e.g. openssl) 🤒</li>
						</ul>
					</div>
          <div>
          <img src="images/Tarkin.jpg" alt="Tarkin" width="35%">
          </div>
				</section>

				<section>
					<h2>Encoding issue / Time issue</h2>
          <div class="lots_of_items">
						<ul>
							<li>Use UTF-8 not the 🤮 Windows-125x code page</li>
							<li>Convert using iconv</li>
							<li>Use UTC time everywhere and only convert to local time in order to display it</li>
							<li>Use standard ISO format to share date/time</li>
              <li><code>date -Iseconds</code> iso-8601 --> 2020-02-14T02:25:14+01:00</li>
						</ul>
					</div>
          <div>
          <img src="images/boba.jpg" alt="boba" width="60%">
          </div>
				</section>

				<section>
					<h1>Thank you</h1>
					<img src="images/thanks.gif" alt="flag" width="47%">
            <h3>René Ribaud &lt;rene.ribaud@cgi.com&gt;</h3>
            <!-- <h4>🎬 Source: https://github.com/uggla/presentation/tree/agile2019/strictbash</h4> -->
				</section>

			</div>

		</div>

		<script src="../reveal.js/lib/js/head.min.js"></script>
		<script src="../reveal.js/js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: false,
				width: 960,
				height: 700,

				// Factor of the display size that should remain empty around the content
				margin: 0.1,

				// Bounds for smallest/largest possible scale to apply to content
				minScale: 0.2,
				maxScale: 1.5,

				transition: 'convex', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: '../reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: '../reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '../reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '../reveal.js/plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: '../reveal.js/plugin/zoom-js/zoom.js', async: true },
					{ src: '../reveal.js/plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
