<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Be pinched by a cRUSTacean to prevent programming errors !</title>

		<meta name="description" content="Be pinched by a cRUSTacean to prevent programming errors !">
		<meta name="author" content="René Ribaud" >

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="../reveal.js/css/reveal.css">
		<link rel="stylesheet" href="../reveal.js/css/theme/beige.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="../reveal.js/lib/css/github.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? '../reveal.js/css/print/pdf.css' : '../reveal.js/css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
			<script src="lib/js/html5shiv.js"></script>
		<![endif]-->

		<style type="text/css">
		.reveal { font-family: "Helvetica Neue",Helvetica,"Segoe UI",Arial,freesans,sans-serif; }
		.iwantitatleft { text-align: left; }
		.reveal ul { font-size: 0.9em; text-align: left; }
		.lots_of_items ul { font-size: 0.7em; text-align: left; }
		.lots_of_items h3 { font-size: 0.7em; }
		.lots_of_items h4 { font-size: 0.6em; }
		.lots_of_items code { font-size: 0.7em; }
		.reveal pre code { max-height: 100%; }
		.left_pic { position: relative; float: left; width:50%; top: 30px; }
		.right_pic { position: relative; float: right; width:50%; top: 30px; }
		.left_text { position: relative; float: left; width:50%; text-align: left; }
		.right_text { width:50%; text-align: left; float: right; text-align: left; }
    .skill-list li { font-size: 1.5rem; margin-top: 1rem; }
		.reveal h4 { text-transform: none;}
		.reveal h3 { text-transform: none;}
		.reveal h2 { text-transform: none;}
		/*
		.reveal a { color: #007DBA; }
		.reveal h2 b { color: #0096D6; }
		.reveal h2 .day { font-size: 0.6em; position:relative; bottom: 20px; }
		*/
		.reveal pre { width: 100%; font-size:18px; }
		.reveal section img { border: none; box-shadow: none; }
		</style>
	</head>

	<body>
		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<!--<section data-background="images/ferris_anim.gif">-->
				<section>
					<h1>RUST</h1>
					<img src="images/rust-logo.png" alt="rust-logo" width="30%">
          <h3>Be pinched by a c<span style="color: #e43717";>RUST</span>acean to prevent programming errors !</h3>
				</section>

				<section>
					<h2>2 words about us</h2>
					<div class="left_text">
            <pre class="bio">
$ cat ~/.bash_profile
NAME="René Ribaud"
AGE=43

source ./1998.sh

PROFESSION="Unices system and storage" \
"administrator , since 2003"

HISTORY="Lots (too many) infrastructure" \
"implementation projects" \

"Discover Linux & FLOSS between" \
"1995 / 2000" \

"First step in the cloud around 2011" \
", pre-sales solution architect" \
"2014 (Cloud, DevOps)" \

"I’m an Ops !"

COMPANY="CGI 20th November 2017"

JOB="Information system architect" \
"specialized around DevOps technologies"
            </pre>
					</div>
					<div class="left_pic">
						<img src="images/me.png" alt="me" width="100%">
					</div>
        </section>

        <section>
            <h2>2 words about us</h2>
            <div class="left_text">
              <h3>François Best</h3>
              <p>Freelance Developer</p>
              <ul class="skill-list">
                <li>Embedded/Realtime C/C++ background</li>
                <li>Seduced by the Dark Side of the Web</li>
                <li>Current interests:
                  <ul>
                    <li>Rust (of course)</li>
                    <li>Security / Cryptography</li>
                    <li>Decentralisation</li>
                    <li>Personal data protection <br>& de-GAFAMing</li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="left_pic">
              <img src="images/francois.best.svg" alt="Francois Best" width="250px" height="250px">
              <p>Github: <a href="https://github.com/franky47">@franky47</a> | <a href="https://github.com/franky47">@47ng</a></p>
              <p>Web: <a href="https://francoisbest.com">francoisbest.com</a></p>
            </div>
          </section>

				<section>
					<h2>What is RUST ?</h2>
					<div class="iwantitatleft">
						<ul>
							<li>New systems programming language</li>
							<li>Multi paradigm language (imperative, functional, object oriented (not fully))</li>
							<li>By Mozilla and the Community</li>
							<li>Dual license MIT and Apache v2.0</li>
							<li>First stable release May 15th, 2015</li>
							<li>Rust 2018 (v1.31), a major new edition released December 6th, 2018</li>
						</ul>
					</div>
				</section>

				<section>
					<h2>Goal ?</h2>
					<h3>Provide an alternative to C/C++ and also higher-level languages</h3>
				</section>

				<section>
					<h2>Why is this Ops guy speaking about a programming language ?</h2>
					<img src="images/sysadmin.png" alt="sysadmin" width="60%">
				</section>

				<section>
					<h2>Immune to coder disease 1</h2>
					<h3>My language is the best ! </h3>
					<h3>And my code is also the best !</h3>
					<img src="images/disease1.jpg" alt="disease1" width="25%">
					<h4>This is part of my job to know languages and especially how to build projects using them</h4>
				</section>

				<section>
					<h2>Immune to coder disease 2</h2>
					<h3>I don't make mistakes, only bad coders are making ones</h3>
					<img src="images/disease2.jpg" alt="disease2" width="40%">
					<h4>Really, how do you explain all major projects security issues ?</h4>
					<h4>I'm fed up about segfaults and null pointer exceptions !</h4>
				</section>

				<section>
					<h2>Why is RUST exciting to me ?</h2>
					<h3>And probably why should you look at it ?</h3>
					<img src="images/exciting.jpg" alt="exciting" width="30%">
				</section>

				<section>
					<h2>Promises</h2>
					<div class="iwantitatleft">
						<ul>
              <li>Focus on safety -> avoids errors and helps finding them !</li>
							<li>Especially safe concurrency</li>
							<li>Fast, really fast !</li>
						</ul>
					</div>
					<img src="images/boom.gif" alt="boom" width="50%">
				</section>
				<section>
					<h2>But also</h2>
					<div class="iwantitatleft">
						<ul>
							<li>Compiled language, few runtime dependencies</li>
							<li>Produces binaries, that could be static with musl</li>
							<li>Can interact easily with other languages via ABI and bindings (Python, C/C++, JS...)</li>
							<li>State of mind, hard at compile time, but safe at runtime</li>
							<li>Somewhere challenging !</li>
						</ul>
					</div>
				</section>

				<section>
					<h2>Ripgrep (rg)</h2>
					<h3>An application written in Rust</h3>
					<div class="iwantitatleft">
						<ul>
							<li>A grep enhanced</li>
							<li>Compatible with standard grep</li>
              <li><b>Search speed is really impressive</b></li>
              <li>Look also at fd, exa, lsd...</li>
						</ul>
					</div>
					<img src="images/rip.png" alt="rip" width="28%">
				</section>

				<section>
					<h2>And a cute mascot !</h2>
					<img src="images/mascot.png" alt="mascot" width="50%">
				</section>

				<section>
					<h2>What it looks like</h2>
					<pre>
					<code>
{% include '_example.rs' %}
					</code>
					</pre>
				</section>

				<section>
					<h2>Language features</h2>
					<div class="iwantitatleft">
						<ul>
              <li>Static type system with local type inference</li>
              <li>Explicit mutability</li>
              <li>Zero-cost abstractions</li>
              <li>Runtime-independent concurrency safety</li>
              <li>Errors are values</li>
              <li>No null</li>
              <li>Static automatic memory management</li>
              <li>No garbage collection</li>
						</ul>
					</div>
				</section>

				<section>
					<h2>Safety is achieved by mainly 3 concepts</h2>
					<img src="images/safety.jpg" alt="safety" width="70%">
				</section>

				<section>
					<h2>Mutability</h2>
					<pre>
					<code>
{% include '_immutability.rs' %}
					</code>
					</pre>
				</section>

				<section>
					<h2>Mutability error</h2>
					<pre>
{% include '_immutability.output.html' %}
					</pre>
				</section>

				<section>
					<h2>Ownership & Borrowing</h2>
					<div class="iwantitatleft">
						<ul>
              <li>Every piece of data is uniquely owned</li>
              <li>Ownership can be passed</li>
              <li>When owned data reaches the end of a scope, it is destroyed</li>
						</ul>
					</div>
				</section>

        <section>
					<h2>Ownership</h2>
					<pre>
					<code>
{% include '_owned2.rs' %}
					</code>
					</pre>
					<img src="images/memory.png" alt="memory" width="30%">
				</section>

        <section>
					<h2>Ownership error</h2>
					<pre>
{% include '_owned2.output.html' %}
					</pre>
				</section>

        <section>
					<h2>Ownership</h2>
					<pre>
					<code>
{% include '_owned.rs' %}
					</code>
					</pre>
				</section>

        <section>
					<h2>Ownership error</h2>
					<pre>
{% include '_owned.output.html' %}
					</pre>
				</section>

				<section>
					<h2>Ownership & Borrowing</h2>
					<div class="iwantitatleft">
						<ul>
              <li>Access can be borrowed (mutable and immutable)</li>
              <li>You can borrow mutably once</li>
              <li>Or multiple times immutably</li>
              <li>Exclusive: mutable or immutable, never both</li>
						</ul>
					</div>
				</section>

        <section>
					<h2>Borrowing</h2>
					<pre>
					<code>
{% include '_borrow.rs' %}
					</code>
					</pre>
					<pre>
{% include '_borrow.output.html' %}
					</pre>
				</section>

        <section>
					<h2>Borrowing mutable</h2>
					<pre>
					<code>
{% include '_borrow_mut.rs' %}
					</code>
					</pre>
				</section>

        <section>
					<h2>Borrowing mutable error</h2>
					<pre>
{% include '_borrow_mut.output.html' %}
					</pre>
				</section>

        <section>
					<h2>Borrowing mutable fixed</h2>
					<pre>
					<code>
{% include '_borrow_mutok.rs' %}
					</code>
					</pre>
					<pre>
{% include '_borrow_mutok.output.html' %}
					</pre>
				</section>

        <section>
					<h2>References validity checks</h2>
					<pre>
					<code>
{% include '_lifetime.rs' %}
					</code>
					</pre>
				</section>

        <section>
					<h2>References validity checks error</h2>
					<pre>
{% include '_lifetime.output.html' %}
					</pre>
				</section>

				<section>
					<h2>Concurrency without fear</h2>
					<img src="images/chainsaw.jpg" alt="concurrency failure" width="45%">
				</section>

				<section>
					<h2>Concurrency without fear</h2>
					<img src="images/concurrency_failure.png" alt="concurrency failure" width="75%">
				</section>

				<section>
					<h2>Concurrency without fear error</h2>
					<pre>
{% include '_concurrency_failure.output.html' %}
					</pre>
          <h3>Rust type system allows no data races</h3>
				</section>

				<section>
					<h2>High level abstraction</h2>
					<h3>Generics and Traits</h3>
					<div class="iwantitatleft">
						<ul>
							<li>Define shared behavior</li>
							<li>Define behavior based on types</li>
							<li>Define behavior from various types with trait bounds</li>
						</ul>
					</div>
					<img src="images/delaunay.jpg" alt="delaunay" width="30%">
				</section>

				<section>
					<h2>Unsafe Rust</h2>
					<img src="images/unsafe.png" alt="unsafe" width="75%">
					<div class="iwantitatleft">
						<ul>
							<li>Allow to disengage some safety features</li>
							<li>Use at your own risk !</li>
							<li>Crates using unsafe code can be audited with <code>cargo-geiger</code></li>
						</ul>
					</div>
				</section>

				<section>
					<h2>A modern language</h2>
					<h3>with builtin code quality standards</h3>
					<img src="images/quality.png" alt="quality" width="20%">
					<div class="iwantitatleft">
						<ul>
							<li>Documentation embedded into code</li>
							<li>Unit tests</li>
							<li>Integration tests</li>
							<li>Great documentation (books and std lib)</li>
						</ul>
					</div>
				</section>

				<section>
					<h2>A modern language</h2>
					<h3>with tools to be productive</h3>
					<div class="iwantitatleft">
						<ul>
              <li>Environment setup and update <b>rustup</b></li>
              <li>Package (crates) management <b>cargo</b> + plugin</li>
              <li>Code formatting <b>rustfmt</b></li>
              <li>Compiler <b>rustc</b></li>
              <ul>
                <li>Efficient error messages</li>
                <li>Potential solution</b></li>
              </ul>
              <li>Linter <b>clippy</b></li>
              <li>Code completion <b>racer</b></li>
              <li>Help transition to 2018 edition <b>rustfix</b></li>
              <li>Editor integration (IntelliJ, Vs code, Vim, Emacs...)</li>
						</ul>
					</div>
        </section>

        <section>
          <h2>Opinionated for productivity</h2>
          <h3>Avoiding bikeshedding</h3>
          <div class="iwantitatleft">
              <ul>
                <li>Crates have a defined filesystem structure</li>
                <li>Modules & exports based on file location (like Python)</li>
                <li>But with control over public / private exports (like ES6)</li>
                <li>Batteries included, but replaceable</li>
                <ul>
                  <li>Procedural macros for DSLs (eg: JSON, CSS...)</li>
                  <li>Custom compile-time extensions with build scripts</li>
                  <li>Cargo extensions with <code>cargo-foo</code> binary crates</li>
                </ul>
              </ul>
            </div>
        </section>

				<section>
					<h2>Interesting crates</h2>
					<h3>That extend the std lib</h3>
					<div class="iwantitatleft">
						<ul>
              <li>Date and time management <b>chrono</b></li>
              <li>Parallel iteration <b>rayon</b></li>
              <li>HTTP client <b>reqwest</b></li>
              <li>Command line parsing <b>clap</b>, <b>docopt</b>, <b>structopt</b></li>
              <li>Logging <b>log</b></li>
              <li>Serialization <b>serde</b></li>
              <li>Regular expressions <b>regex</b></li>
              <li>...</li>
						</ul>
					</div>
				</section>

				<section>
					<h2>Area of use</h2>
					<img src="images/area.png" alt="area" width="30%">
					<div class="iwantitatleft">
						<ul>
              <li>Command line tools</li>
              <li>Web and network services</li>
              <li>Embedded device, IOT</li>
              <li>WebAssembly</li>
              <li>Games</li>
						</ul>
					</div>
				</section>

				<section>
					<h2>Who is using Rust ?</h2>
					<img src="images/companies.gif" alt="companies" width="50%">
					<div class="iwantitatleft">
						<ul>
              <li>Mozilla, servo project</li>
              <li>RedHat, stratis project</li>
              <li>Dropbox</li>
              <li>Telenor</li>
              <li>Chef</li>
						</ul>
					</div>
				</section>

				<section>
					<h2>Who is using Rust ?</h2>
					<div class="iwantitatleft">
						<ul>
              <li>Ready at dawn</li>
					    <img src="images/rad.png" alt="rad" width="50%">
              <li>Chucklefish that published Stardew Valley and Starbound, is using Rust in their new projects Wargroove and Witchbrook to get safe concurrency and portability</li>
						</ul>
					</div>
				</section>

				<section>
					<h2>Who is using Rust ?</h2>
					<img src="images/flag.gif" alt="flag" width="30%">
					<div class="iwantitatleft">
						<ul>
              <li>Clevercloud, (Geoffroy Couprie)</li>
              <ul>
                <li>nom, parser</li>
                <li>Sozu, reverse proxy</li>
              </ul>
              <li>Snips</li>
              <li>ANSSI: <a href="https://github.com/ANSSI-FR/rust-guide">RFC for secure application design in Rust</a></li>
						</ul>
					</div>
				</section>

				<section>
					<h2>Governance and community</h2>
					<h3>Rust is pragmatic</h3>
					<div class="iwantitatleft">
						<ul>
              <li>All features are driven by needs of real software</li>
              <li>The language is evolved with user feedback</li>
              <li>Consciously chooses familiar constructs</li>
              <li>Picks good ideas from others</li>
              <li>Doesn’t want to be the primary language at all cost</li>
						</ul>
					</div>
				</section>

				<section>
					<h2>Governance and community</h2>
					<h3>Beloved language and community</h3>
					<div class="iwantitatleft">
						<ul>
              <li>Voted "Most loved language" on Stackoverflow 2018, 2017, 2016</li>
              <li>Only 1/100 of survey respondents have issues with the Rust community</li>
              <li>Newcomers from all directions</li>
						</ul>
					</div>
					<img src="images/love.gif" alt="love" width="15%">
          <h4>https://insights.stackoverflow.com/survey/2018/#most-loved-dreaded-and-wanted</h4>
				</section>

				<section>
					<h2>Governance and community</h2>
          <h3><a href="https://crates.io">Crates.io</a> growth</h3>
					<img src="images/crates.png" alt="crates" width="75%">
					<h4>https://8-p.info/visualizing-crates-io/</h4>
				</section>

				<section>
					<h2>Governance and community</h2>
					<h3>Help from the community</h3>
					<div class="iwantitatleft">
						<ul>
              <li>Lots of books</li>
              <li>IRC and Discord channels</li>
              <li>User forum</li>
              <li>Youtube channel</li>
              <li>Meetups</li>
						</ul>
					</div>
					<img src="images/happy.gif" alt="happy" width="25%">
				</section>

				<section>
					<h2>Governance and community</h2>
					<h3>Beloved language and community</h3>
					<div class="iwantitatleft">
						<ul>
              <li>Experience from Mozilla to drive open projects</li>
              <li>All major decisions, go to an open Request For Comments process</li>
              <li>Release every 6 weeks</li>
              <li>3 channels: <b>stable</b>, <b>beta</b> and <b>nightly</b></li>
              <li>Medium time to merged PR for changes: 6 days!</li>
              <li>More then 4/5 of contributions to the Rust language come from outside Mozilla</li>
              <li>The compiler has more then 2000 contributors</li>
						</ul>
					</div>
				</section>

				<section>
					<h1>Thank you</h1>
					<img src="images/thanks.gif" alt="flag" width="50%">
					<ul>
            <li>René Ribaud &lt;rene.ribaud@cgi.com&gt;</li>
            <li>François Best &lt;contact@francoisbest.com&gt;</li>
					</ul>
				</section>

			</div>

		</div>

		<script src="../reveal.js/lib/js/head.min.js"></script>
		<script src="../reveal.js/js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: false,
				width: 960,
				height: 700,

				// Factor of the display size that should remain empty around the content
				margin: 0.1,

				// Bounds for smallest/largest possible scale to apply to content
				minScale: 0.2,
				maxScale: 1.5,

				transition: 'convex', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: '../reveal.js/lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: '../reveal.js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '../reveal.js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '../reveal.js/plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: '../reveal.js/plugin/zoom-js/zoom.js', async: true },
					{ src: '../reveal.js/plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
